
.navbar-wrap {
  background-color: #cfc5c5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 600;
}
.navbar-logo a {
  font-size: 25px;
  margin-top: 5px;
  color: rgb(9, 8, 8);
  text-decoration: none;
}
.navbar-logo img {
  height: 35px;
  margin-right: 12px;
}

.menu-bar {
  display: flex;
  gap: 1rem;
}

.menu-bar a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 20px;
  border-radius: 3px;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.profile-section a {
  text-decoration: none;
  font-size: 35px;
  color: black;
}

.menu-icon {
  display: none;
  font-size: 35px;
}
.login {
  font-size: 35px;
}
.search-icon {
  font-size: 35px;
}

.search-bar {
  background-color: white;
  color: #fff;
  position: fixed;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  display: none;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  flex-direction: column;
  text-align: center;
}
.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 35px;
  border-radius: 10px;
  background: white;
}
.search-wrap .search-box {
  width: 100%;
  height: 35px;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.search-wrap button {
  width: 100px;
  height: 35px;
  height: inherit;
  background: black;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
}
.search-box-icon-section {
  margin-left: 12px;
  height: 35px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box-icon {
  font-size: 30px;
}

.visible {
  display: block;
  color: black;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .profile-section a {
    font-size: 30px;
  }
  .menu-bar {
    display: none;
  }
  .menu-icon,
  .search-icon,
  .login {
    display: block;
    font-size: 30px;
  }
}

@media (max-width: 468px) {
  .navbar-logo img {
    display: none;
  }

  .profile-section a {
    font-size: 24px;
  }
  .menu-bar {
    display: none;
  }
  .menu-icon,
  .search-icon,
  .login {
    display: block;
    font-size: 24px;
  }

  .navbar-wrap {
    padding-left: 8px;
    padding-right: 8px;
  }

  .search-icon {
    font-size: 1.5rem;
    right: 1rem;
  }

  .search-wrap {
    width: 90%;
    height: 30px;
    border-radius: 10px;
  }
  .search-wrap .search-box {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
  }
  .search-wrap button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
  }
  .search-box-icon-section {
    margin-left: 12px;
    height: 30px;
    width: 25px;
  }
  .search-box-icon {
    font-size: 25px;
  }
}

/* css for sidebar starts */
.sidebar {
  background-color: #111111;
  color: #fff;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: none;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  flex-direction: column;
  text-align: center;
}

.sidebar.open {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
}

.sidebar .wrap {
  position: fixed;
  top: 5rem;
}
.close-icon {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  top: 0.3rem;
  right: 2.5rem;
  color: blue;
  font-weight: 600;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 25px;
}

.sidebar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

/* css for sidebar ends */
