
.product-category {
  margin-bottom: 30px;
  padding: auto;
}

.product-category-banner {
  width: 100%;
  height: auto;
}

.productcategory-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 28px;
}


@media screen and (max-width: 468px) {
 
  .productcategory-products {
    padding: 15px;
    margin-top: 15px;
  }
}