img{
    height: 500px; 
    width: 100%;
 }
 .main-carosel {
    /* height: 1600px; */
    margin-top: 70px; /* Adjust as needed based on your navbar height */
  }
  .alice-carousel {
    width: 100%;
  }
  
  .alice-carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }